script
	meta =!{JSON.stringify(meta)};
- if(lend)
	script
		lend="#{lend._id}";
		remain=#{remain};
.top
	include nav

	h1 Objekte anzeigen
	img.hourglass(src="/gfx/hourglass.png")
	#formcontainer
		form(action="javascript:;")
			select(name="field", size="1")
				for field in fields
					option(value=field.field, selected=(field.field==lastsearch.field))= field.name
			select(name="mode", size="1")
				option(value="any", selected=("any"==lastsearch.mode)) Enthält
				option(value="begin", selected=("begin"==lastsearch.mode)) Beginnt mit
				option(value="end", selected=("end"==lastsearch.mode)) Endet mit
				option(value="exact", selected=("exact"==lastsearch.mode)) Ist genau
			input(type="text", name="search")
			select(name="limit", size="1")
				for limit in limits
					option(value=limit, selected=(limit==lastsearch.limit))= limit?limit:"Alle"
			span Wo:
			select(name="location", size="1")
				option(value="", selected=(""==lastsearch.location)) Überall
				for location in locations
					option(value=location, selected=(location==lastsearch.location))= location
			span Status:
			select(name="status", size=1)
				option(value=-1) Egal
				option(value=0) Verfügbar
				option(value=1) Ausgeliehen
				option(value=2) Überfällig
			for media in medias
				span(style="padding-left: 10px;")= media
				input(type="checkbox", name="media_"+media)
			br
			span Sortiere
			select(name="sort_by", size="1")
				for field in fields
					option(value=field.field, selected=(field.field==lastsearch.sort_by))= field.name
			select(name="sort_dir", size="1")
				option(value="1", selected=(1==lastsearch.sort_dir)) Aufsteigend
				option(value="-1", selected=(-1==lastsearch.sort_dir)) Absteigend
			span.button#submit
				img(src="/gfx/arrow.png")
				|Suchen
			span.button#reset
				img(src="/gfx/backspace.png")
				|Zurücksetzen
			- if(lend)
				span Ausleihen: #{lend.lastname} #{lend.firstname}; 
				span#remain
				span.button#lend Ausleihen
				span.button#cancel Abbrechen
.content
	table.list
		thead
			tr
				for column in columns
					if meta.visibleobjectcolumns.indexOf(column.field) != -1 
						td.sorter(id=column.field)= column.name
				td(style="padding-left:10px; padding-right: 10px;") Aktionen
		tbody#content

.status
